/** CARD **/

.card,
.card-task,
.card-strong {
  position: fixed;
  z-index: 15;
  top: 45%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -47%);
  border: 1px solid var(--border-grey-brown);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 1rem 2rem;

  .card-btn {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--theme-pink);
    border-radius: 10px;
  }
}

.card-task {
  height: 65%;
  width: 50%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--theme-pastel-green) var(--theme-pink);
}

.card-strong {
  background-color: rgba(0, 0, 0, 0.95);
}

.alert-card {
  position: fixed;
  z-index: 15;
  top: 48%;
  left: 50%;
  width: 37%;
  transform: translate(-50%, -47%);
  border: 1px solid var(--theme-pastel-green);
  background: linear-gradient(45deg, #78e49e 0%, #9e83f8 50%, #95efb8 75%);
  background: linear-gradient(
    45deg,
    #59097e 10%,
    var(--theme-pink-button) 20%,
    #bb04e4 80%,
    var(--theme-pink-button) 85%,
    #59097e 90%
  );
  border-radius: 10px;
  padding: 2rem;
  text-align: center;

  h1 {
    color: var(--duck-egg-white);
    font-size: 1.5rem;
  }

  li {
    color: var(--duck-egg-white);
    padding: 1rem;
  }

  p {
    color: var(--duck-egg-white);
    font-size: 1.5rem;
  }

  .card-btn {
    width: 25%;
    margin: 0;
    padding: 0.3rem;
    border: 1px solid #5326e6;
    background-color: #95efb8;
    background-color: #5326e6;
    color: var(--theme-pastel-green);
    border-radius: 10px;
    font-weight: 600;

    &:hover {
      border: 1px solid var(--theme-pastel-green);
      color: #5326e6;
      background-color: #95efb8;
    }
  }

  .alert-projects_shared {
    list-style-type: none;
    padding-inline-start: 0;
    color: var(--crimson);
    font-size: 1.3rem;
    font-weight: 700;

    .li {
      padding: 0.3rem;
    }
  }
}

.table-card {
  width: 85%;
  border: 1px solid var(--border-grey-brown);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 2rem;
  color: var(--theme-pink);
}

.card-btn {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--theme-pink);
  border-radius: 10px;
}

/***** SPINNER *****/

.spinner-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
